[submodule "local_modules/hittp"]
	path = local_modules/hittp
	url = git@github.com:sunnypurewal/hittp
[submodule "local_modules/crawlbot"]
	path = local_modules/crawlbot
	url = git@github.com:sunnypurewal/crawlbot
[submodule "local_modules/crawlbot-server"]
	path = local_modules/crawlbot-server
	url = git@github.com:sunnypurewal/crawlbot-server
[submodule "local_modules/getsitemap"]
	path = local_modules/getsitemap
	url = git@github.com:sunnypurewal/getsitemap
[submodule "local_modules/readability"]
	path = local_modules/readability
	url = git@github.com:mozilla/readability
