<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Crawlbot</title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <a href="http://github.com/sunnypurewal/crawlbot" target="_blank">
      <img class="small-icon" src="img/github.png" />
    </a>
    <div id="logo">
      <h1>Crawlbot</h1>
      <span>Type in a domain to start crawling</span>
    </div>
    <div id="searchform">
      <form id="search" action="/crawl" method="POST">
        <label for="search_box">
          <div class="search_container">
            <div class="inner_search_container">
              <div class="search_image">
              </div>
              <div class="search_box_container">
                <input placeholder="e.g. www.bloomberg.com" class="search_box" id="domain" name="domain" autofocus/>
              </div>
            </div>
          </div>
        </label>
      </form>
    </div>
    <table class="processes">
        <tr>
          <th class="table-header">
            <span class="table-header-text">Domain</span>
          </th>
          <th class="table-header">
            <span class="table-header-text">PID</span>
          </th>
        </tr>
      <% for (const fork of forks) { %>
        <tr>
          <td>
            <%- fork.domain %>
          </td>
          <td>
            <%- fork.process.pid %>
          </td>
        </tr>
      <% } %>
    </table>
  </body>
</html>